body {
  background-color: #fafafa;
  color: #060638;
  font-size: 16px;
  margin: 0px;
}

h1,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
